.myPlot {
    float: right; /* Aligns the plot to the right */
    margin-left: 30px; /* Space from the left */
    margin-right: 10px; /* Space from the right */
}

.myPlot img {
    border-radius: 50%; /* Makes the image round */
    width: 300px; /* Width of the image */
    height: 300px; /* Height of the image, should be equal to width for a perfect circle */
}

