.text-container {
    width: 70%; /* or any percentage you prefer */
    max-width: 800px; /* or any specific width */
    margin-left: 20px;
    margin-right: 35px;
    padding: 20px; /* optional, for internal spacing */
    text-align: left; /* optional, for justified text */
}

.text-container p {
    font-size: 30px; /* You can adjust this value as needed */
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .text-container {
        width: 95%;
        padding: 10px;
    }
}
